#preload {
    display: none;
}

body {
    background-color: yellow;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#book
{
    margin-left: auto;
    margin-right: auto;
}

.painting {
    background-color: greenyellow;
    overflow: hidden;
}

#next_text {
    display: inline;
    padding-left: 30px;
    cursor: pointer;
}

.poems {
    background-color: lightblue;
    overflow: auto;
}


.poems *{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    white-space: pre;
    display: block;
}

.poem_text {
    margin-bottom: 30px;
}


#cover {
     max-height: 100%;
}

#back {
    background-color: red;
}

#pen {
    float: left;
    position: absolute;

     -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

