body {
    background-image: url("/static/img/wood_bg.jpg");
    background-repeat: no-repeat;

    font-family: Georgia, 'Times New Roman', Times, serif;

    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#preload {
    display: none;
}

#book
{
    margin-left: auto;
    margin-right: auto;
}

.painting {
    background-color: greenyellow;
    overflow: hidden;
}

#next_text {
    display: inline;
    padding-left: 30px;
    cursor: pointer;
}

.poems {
    background-color: #F9F9F9;
    overflow: auto;
}


.poems *{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    white-space: pre-wrap;
    display: block;
}

.poem_text {
    margin-bottom: 30px;
}

#cover {
     max-height: 100%;
}

#back {
    background-color: red;
}

#pen {
    float: left;
    position: absolute;

     -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#book .shadow,
#book.shadow{
  -webkit-box-shadow: 0 4px 10px #666;
  -moz-box-shadow: 0 4px 10px #666;
  -ms-box-shadow: 0 4px 10px #666;
  -o-box-shadow: 0 4px 10px #666;
  box-shadow: 0 4px 10px #666;
}