<div>
    Artist: Ada Sverdlin - <a href="http://the-owls1.livejournal.com/">Blog</a> (In russian)
</div>

<div>
    Poems: <a href="http://fleursdumal.org/">Charles Baudelaire - Fleurs Du Mal and Translations.</a>
</div>

<div>
    Site: Michael Sverdlin
    (<a href="https://twitter.com/msveder">@msveder</a>)
    <br>
    <a href="http://sveder.com">sveder.com</a>
</div>

<div>
    Front Cover: <a href="https://en.wikipedia.org/wiki/Les_Fleurs_du_mal#/media/File:Fleurs_du_mal.jpg">Wikipedia</a>
</div>