{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>An illustrated journey through Baudelaire's Flowers of Evil. Illustrated by Ada Sverdlin </title>

        <link rel="shortcut icon" href="/static/favicon.png" />
        <link rel="stylesheet" href="{% static "style.css" %}" type="text/css">
        <link rel="stylesheet" href="/css/sprite_sheet_{{ first_ordinal }}.css" type="text/css">
        <script>
            var first_chunk = {{ first_chunk | safe }};
            var first_ordinal = {{ first_ordinal }};

            var anchored_page = {{ start_page }};
            var chunk_count = {{ chunk_count }};
            var page_count = {{ page_count }};

        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js" type="text/javascript" defer></script>

        <script src="{% static 'vendor/mousetrap.help.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'vendor/turn.min.js' %}" type="text/javascript" defer></script>

        <script src="{% static 'chunk_manager.js' %}" type="text/javascript" defer></script>
        <script src="{% static 'main.js' %}" type="text/javascript" defer></script>
    </head>

    <body>
        <div id="preload">
            <i class="sprite sprite-{{ first_ordinal }}"></i>
        </div>

{#        <div id="pen"> <img draggable="false" src="static/img/pen.png"> </div>#}

        <div>
            <div id="book">
                <div class="hard cover"> <img draggable="false" id="cover" src="static/img/original_cover.jpg"> </div>

                {% for page in page_range %}
                    {% if forloop.first %}
                        <div class="painting hard" id="painting-{{ page }}">1</div>
                        <div class="poems" id="poems-{{ page }}"></div>

                    {% elif forloop.last %}
                        <div class="painting" id="painting-{{ page }}">1</div>
                        <div class="poems hard" id="poems-{{ page }}"></div>

                    {% else %}
                        <div class="painting" id="painting-{{ page }}">1</div>
                        <div class="poems" id="poems-{{ page }}"></div>

                    {% endif %}
                {% endfor %}

                <div class="hard" id="back">
                    <div id="back-content">
                        <div>
                            Artist: Ada Sverdlin - <a href="http://the-owls1.livejournal.com/">Blog</a> (In russian)
                        </div>

                        <div>
                            Front Cover: <a href="https://en.wikipedia.org/wiki/Les_Fleurs_du_mal#/media/File:Fleurs_du_mal.jpg">Wikipedia</a>
                        </div>

                        <div>
                            Poems: <a href="http://fleursdumal.org/">Charles Baudelaire - Fleurs Du Mal and Translations.</a>
                        </div>

                        <div>
                            Site: Michael Sverdlin
                            (<a href="https://twitter.com/msveder">@msveder</a>)
                            <a href="http://sveder.com">sveder.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-70308252-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
