body:after{
    display:none;
    content: url(second-fourth-third-first.png);
}

.sprite-sheet-1 {
    background-image: url(second-fourth-third-first.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-1 {
    background-position: 0px 0px;
    width: 510px;
    height: 800px;
}
.sprite-1 {
    background-position: 1017px 0px;
    width: 514px;
    height: 800px;
}
.sprite-1 {
    background-position: 510px 0px;
    width: 507px;
    height: 800px;
}
.sprite-1 {
    background-position: 1531px 0px;
    width: 508px;
    height: 800px;
}
